会议纪要生成器api.yml
app:
  description: 输入人数和录制的音频文件，实现功能：音频转为文字；llm根据逻辑判断，分类处理每个人的谈话；生成会议纪要。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 会议纪要生成器api
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.6@dd589dc093c8084925858034ab5ec1fdf0d33819f43226c2f8c4a749a9acbbb2
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openrouter:0.0.23@1002eceb624a79dd26dfbfcdc642725c2cd2247a43042dda70446b387a46aa6e
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables:
  - description: 会议记录
    id: 0ccfce8b-b235-4f19-b277-c4828783868b
    name: meeting_record
    selector:
    - conversation
    - meeting_record
    value: ''
    value_type: string
  - description: 会议纪要
    id: 930f543d-042b-4e55-afc8-96fe0798e788
    name: meeting_summary
    selector:
    - conversation
    - meeting_summary
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1746520627890-source-1746520804067-target
      source: '1746520627890'
      sourceHandle: source
      target: '1746520804067'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1746520804067-true-1746520889924-target
      source: '1746520804067'
      sourceHandle: 'true'
      target: '1746520889924'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1746520889924-source-llm-target
      source: '1746520889924'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: llm
      id: 1746521732213-source-1746521860053-target
      source: '1746521732213'
      sourceHandle: source
      target: '1746521860053'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: llm-source-1746592686405-target
      source: llm
      sourceHandle: source
      target: '1746592686405'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1746592686405-source-1746521732213-target
      source: '1746592686405'
      sourceHandle: source
      target: '1746521732213'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 1746521860053-source-1746592727508-target
      source: '1746521860053'
      sourceHandle: source
      target: '1746592727508'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1746592727508-source-answer-target
      source: '1746592727508'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1746520804067-false-1746592800540-target
      source: '1746520804067'
      sourceHandle: 'false'
      target: '1746592800540'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 1746592800540-source-1746593192073-target
      source: '1746592800540'
      sourceHandle: source
      target: '1746593192073'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1746593192073-source-1746593230011-target
      source: '1746593192073'
      sourceHandle: source
      target: '1746593230011'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - audio
          allowed_file_upload_methods:
          - local_file
          label: 音频文件
          max_length: 48
          options: []
          required: true
          type: file
          variable: sound_files
        - default: ''
          hint: ''
          label: Nunber_fo_participants
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: Nunber_fo_participants
      height: 112
      id: '1746520627890'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: google/gemini-2.5-flash
          provider: langgenius/openrouter/openrouter
        prompt_template:
        - id: 6602bea2-a696-4026-aa1c-d514bb2ef76e
          role: system
          text: "# Role: 同时具备两个角色，分别为文字分析逻辑专家以及文本内容整理专家\n\n\n## Profile\n- language:\
            \ 中文\n- description: 能够从杂乱的文本记录中提取关键信息，运用逻辑推理，准确识别并区分不同参与者的发言，并进行清晰标注的专家。\
            \ 专业的文本内容整理专家，擅长处理长篇文本。\n- background: 在自然语言处理、文本分析、会话理解领域有深厚的学术背景和实践经验。熟悉各种会话场景，并能够处理各种复杂的会话记录。\
            \ 具有丰富的文本处理、信息提取经验，熟悉各种文本分析和处理技术。\n- personality: 严谨细致，逻辑思维强，擅长从细微之处发现线索，并能迅速整理归纳信息。\
            \ 严谨细致，客观公正，高效务实，善于沟通，具有良好的理解能力、总结归纳和语言表达能力。\n- expertise: 文本分析，自然语言处理，逻辑推理，会话理解，信息抽取，模式识别、语义分析。\n\
            - target_audience: 需要处理多人会话记录的科研人员、数据分析师、客服记录分析师、以及任何需要从文本中提取特定对话信息的专业人士。\n\
            \n## Skills\n\n1.  **文本分析与理解**\n    -   断句分词: 能够准确地对文本进行断句和分词，为后续分析打下基础。\n\
            \    -   语义分析: 能够理解语句的含义，包括字面意义和潜在含义。\n    -   语境分析:  能够结合上下文语境，理解语句的真实意图和作用。\n\
            \    -   风格辨识:  能够识别不同说话者的语言风格，例如用词习惯、表达方式等。\n\n2.  **逻辑推理与归纳**\n    -\
            \   身份推断:  通过语句内容、语气、以及与其他语句的关系，推断说话者的身份。\n    -   关系识别:  能够识别不同语句之间的逻辑关系，例如因果关系、递进关系等。\n\
            \    -   信息整合:  能够将分散的信息整合起来，形成对整个会话的完整理解。\n    -   模式识别:  能够识别会话中重复出现的模式，例如特定的问答模式。\n\
            \n3.  **标注与整理**\n    -   实体识别:  识别会话中出现的实体，例如人名、地名、组织机构名等。\n    -   标签生成:\
            \  为每个语句生成准确的说话人标签。\n    -   格式化输出:  将标注后的会话记录以清晰易读的格式输出。\n    -   数据清洗:\
            \  能够处理会话记录中的噪声数据，例如错别字、冗余信息等。\n\n4.  **会话场景理解**\n    -   场景识别:  能够根据会话内容判断会话发生的场景，例如客服场景、会议场景等。\n\
            \    -   角色识别:  能够识别不同场景下参与者的角色，例如处室领导、处室成员一、处室成员二等。\n    -   意图识别:  能够识别参与者的意图，例如提问、回答、建议等。\n\
            \    -   知识库应用:  能够利用已有的知识库，辅助理解会话内容。\n\n5.  **信息提取与分析**\n   -  关键词提取:\
            \ 能够识别并提取文本中的关键词，确保核心概念不丢失。\n   -  主题识别: 能够准确把握文本的主题，保证整理后的文本围绕主题展开。\n\
            \   -  语义分析: 能够理解文本的语义，避免因语义整理导致意义偏差。\n   -  逻辑关系分析: 能够分析文本的逻辑结构，确保文本逻辑清晰。\n\
            \n6.  **文本编辑与润色**\n   -  语言流畅性: 保证文本打上说话人的标签，语言流畅，易于阅读。\n   -  语法校对: 对精简后的文本进行语法校对，确保语法正确。\n\
            \   -  内容一致性：确保处理后的文本内容与原文一致，避免出现误解。\n   -  风格保持:尽量保持处理后的文本与原文风格一致。\n\n\
            \n## Rules\n\n1.  **基本原则**：\n    -   准确性至上:  保证标注的准确性，避免误判和错误归类。必须以尊重原文内容为前提，不能随意篡改或歪曲原文意思。\n\
            \    -   逻辑一致性:  标注结果必须符合逻辑，避免出现矛盾。\n    -   完整性原则:  尽可能标注所有语句，避免遗漏重要信息。确保主要内容和关键信息不丢失，不能因为整理文字而忽略重要细节。\n\
            \    -   客观中立性:  保持客观中立，避免受到个人偏见的影响。\n     -  质量优先: 保证文本的质量，包括语言流畅性、逻辑性和可读性。\n\
            \n2.  **行为准则**：\n    -   优先利用已有信息:  尽可能利用已有的信息，例如说话人的称谓、语气等。\n    -  \
            \ 结合上下文语境:  必须结合上下文语境进行分析，避免断章取义。\n    -   处理模糊情况:  对于无法明确判断的情况，尝试结合多种信息进行综合判断。\n\
            \    -   持续学习与优化:  不断学习新的知识和技术，提高分析能力。\n    -  优先提取关键信息:  在整理文本时，优先提取并保留文本中的关键信息，例如核心观点、重要数据、结论等。\n\
            \    - 纠正转录文字错误。根据上下文纠正转录错误或语法错误。\n    -  保持逻辑连贯:  注意保持文本的逻辑连贯性，避免出现逻辑断裂或混乱。\n\
            \n\n\n3.  **限制条件**：\n    -   数据质量限制:  如果会话记录质量太差，例如存在大量错别字、语句不完整等，可能会影响分析结果。\n\
            \    -   领域知识限制:  如果会话涉及特定领域的专业知识，可能需要额外的知识储备。\n    -   情感理解限制:  对于过于复杂的情感表达，可能无法准确理解。\n\
            \    -  禁止添加个人观点: 禁止添加任何个人观点或主观评价。\n    -  禁止改变原文主题:  禁止改变原文的主题和核心思想。\n\
            \ \n\n## Workflows\n\n- 目标: 根据会话记录，将每句会话归类到具体的说话人，并打上相应的标签，确保主要内容和关键信息不丢失。\n\
            - 步骤 1: **预处理**：清洗会话记录，根据上下文纠正转录错误或语法错误，去除噪声数据，例如多余的空格、换行符等。\n- 步骤 2:\
            \ **文本分析**：对每句会话进行断句、分词、语义分析，提取关键信息。\n- 步骤 3: **逻辑推理**：结合上下文语境，利用逻辑推理，推断说话人的身份。\n\
            - 步骤 4: **标签生成与标注**：为每句会话生成说话人标签，并将标签添加到会话记录中。\n- 步骤 5: 对整理后的文本进行审核，检查是否添加了说话人身份标签，是否保留了关键信息，语言是否流畅，逻辑是否连贯。如果需要，进行微调。\n\
            -  步骤9：将整理后的完整文本以markdown格式输出。不能由于原始对话非常冗长，仅展示部分整理后的内容。\n- 预期结果: 完整保留了原文的主要内容和关键信息，语言流畅，逻辑清晰。\n\
            \n## Initialization\n作为同时具备文字分析逻辑专家以及文本内容整理专家的你，你必须遵守上述Rules，严格按照Workflows执行任务，并按照markdown将整理后的文本完整输出。"
        - id: 724c9bee-3adc-45b8-b699-e7441d8e15c4
          role: user
          text: '-参与的会话人数：{{#1746520627890.Nunber_fo_participants#}}

            - 原始会话记录：{{#1746520889924.text#}}'
        selected: false
        structured_output_enabled: false
        title: 数据清洗
        type: llm
        variables: []
        vision:
          enabled: false
      height: 86
      id: llm
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '---

          {{#1746521860053.text#}}

          ---'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 101
      id: answer
      position:
        x: 2466.2586288633497
        y: 282
      positionAbsolute:
        x: 2466.2586288633497
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 64f6c70e-ad18-455b-91a9-08f1d2250c50
            value: '1'
            varType: number
            variable_selector:
            - sys
            - dialogue_count
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 122
      id: '1746520804067'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The audio file to be converted.
            ja_JP: The audio file to be converted.
            pt_BR: The audio file to be converted.
            zh_Hans: 要转换的音频文件。
          label:
            en_US: Audio File
            ja_JP: Audio File
            pt_BR: Audio File
            zh_Hans: 音频文件
          llm_description: The audio file to be converted.
          max: null
          min: null
          name: audio_file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: file
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: All available ASR models. You can config model in the Model Provider
              of Settings.
            ja_JP: All available ASR models. You can config model in the Model Provider
              of Settings.
            pt_BR: All available ASR models. You can config model in the Model Provider
              of Settings.
            zh_Hans: 所有可用的 ASR 模型。你可以在设置中的模型供应商里配置。
          label:
            en_US: Model
            ja_JP: Model
            pt_BR: Model
            zh_Hans: Model
          llm_description: null
          max: null
          min: null
          name: model
          options:
          - label:
              en_US: paraformer-realtime-v1(langgenius/tongyi/tongyi)
              ja_JP: paraformer-realtime-v1(langgenius/tongyi/tongyi)
              pt_BR: paraformer-realtime-v1(langgenius/tongyi/tongyi)
              zh_Hans: paraformer-realtime-v1(langgenius/tongyi/tongyi)
            value: langgenius/tongyi/tongyi#paraformer-realtime-v1
          - label:
              en_US: paraformer-realtime-v2(langgenius/tongyi/tongyi)
              ja_JP: paraformer-realtime-v2(langgenius/tongyi/tongyi)
              pt_BR: paraformer-realtime-v2(langgenius/tongyi/tongyi)
              zh_Hans: paraformer-realtime-v2(langgenius/tongyi/tongyi)
            value: langgenius/tongyi/tongyi#paraformer-realtime-v2
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          audio_file: ''
          model: ''
        provider_id: audio
        provider_name: audio
        provider_type: builtin
        selected: false
        title: Speech To Text
        tool_configurations:
          model:
            type: constant
            value: langgenius/tongyi/tongyi#paraformer-realtime-v2
        tool_label: Speech To Text
        tool_name: asr
        tool_node_version: '2'
        tool_parameters:
          audio_file:
            type: variable
            value:
            - '1746520627890'
            - sound_files
        type: tool
      height: 86
      id: '1746520889924'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '---

          **清洗后的会议记录**


          {{#llm.text#}}

          ---'
        desc: ''
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 117
      id: '1746521732213'
      position:
        x: 1582.4984311157546
        y: 270.7570599791041
      positionAbsolute:
        x: 1582.4984311157546
        y: 270.7570599791041
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 14601
          mode: chat
          name: google/gemini-2.5-flash
          provider: langgenius/openrouter/openrouter
        prompt_template:
        - id: 89f2e1d2-0f8b-414e-b569-81555c94e79f
          role: system
          text: "# Role: 机关会议纪要撰写专家\n\n## Profile\n- language: 中文\n- description:\
            \ 机关会议纪要撰写专家，精通机关公文写作规范，能够准确把握会议精神，提炼会议要点，撰写高质量的会议纪要。\n- background: 具有多年机关文秘工作经验，熟悉各类机关会议流程，具备扎实的文字功底和高度的责任心。\n\
            - personality: 严谨细致，客观公正，高效务实，善于沟通，具有良好的理解能力和总结归纳能力。\n- expertise: 机关公文写作、会议记录整理、会议精神解读、要点提炼、文字精准、逻辑表达。\n\
            - target_audience: 机关单位领导、参会人员、相关部门人员。\n\n## Skills\n\n1. 会议内容理解与提炼\n\
            \   - 会议记录分析: 快速阅读并理解会议记录，抓住核心内容。\n   - 要点提炼: 准确提炼会议主题、议题、决策、部署等关键信息。\n\
            \   - 重点突出: 明确会议重点，避免冗余信息，突出重要事项。\n   - 目标明确：准确理解和体现会议的目标和预期成果。\n   -\
            \ 结论明确：清晰地总结会议的结论和下一步行动计划。\n\n2. 公文写作与表达\n   - 机关公文写作: 熟练掌握机关公文写作规范和格式要求。\n\
            \   - 条理清晰: 运用逻辑思维，使纪要结构清晰、层次分明。\n   - 文字规范: 运用准确明了的语言，避免空话套话。\n   - 客观准确:\
            \ 忠实记录会议内容，避免主观臆断和偏差。\n\n3. 综合能力\n   - 信息整合: 将会议记录、发言稿等资料整合为完整纪要。\n  \
            \ - 沟通协调: 与相关人员沟通，核实会议信息，确保纪要准确性。\n   - 抗干扰：在复杂信息中快速定位要点，不受无效信息干扰。\n\n\
            ## Rules\n\n1. 基本原则：\n   - 忠于原意: 准确记录会议内容，不得歪曲或篡改会议精神。\n   - 突出重点: 重点突出会议的决策部署和工作要求。\n\
            \   - 客观公正: 避免个人主观评价，客观反映会议情况。\n   - 简洁明了: 使用简洁明了的语言，避免冗长和晦涩。\n\n2. 限制条件：\n\
            \   - 字数限制: 纪要字数严格控制在1000字以内。\n   - 格式限制: 严格按照机关公文写作规范撰写纪要。\n   - 内容限制：只基于提供的会议记录进行纪要撰写，不加入个人推断或额外信息。\n\
            \n## Workflows\n\n- 目标: 根据用户提供的会议记录，撰写一份条理清晰、重点突出、目标明确、结论明确、字数不超过1000字的机关工作会议纪要。\n\
            - 步骤 1: 仔细阅读用户提供的会议记录，理解会议主题、议题和主要内容。\n- 步骤 2: 提炼会议要点，包括会议决策、部署、工作要求和总结结论。每个要点都要适当展开叙述。\n\
            - 步骤 3: 按照机关公文写作规范，撰写会议纪要，确保结构清晰、语言规范、重点突出。\n- 步骤 4: 检查纪要内容，确保准确性、完整性和规范性，字数控制在1000字以内。\n\
            - 预期结果: 生成一份高质量、符合要求的机关工作会议纪要。\n\n## OutputFormat\n\n1. 输出格式类型：\n   -\
            \ format: markdown\n   - structure: 标题、用一段话概括的会议概况（包括时间，地点，主持人，参与部门，讨论内容等）、会议议题（按议题逐一叙述）、按议题形成的会议决议（在每个议题下分点叙述）、参会人员、记录人员。格式示例如下：\n\
            \ <format>\n        # 某某会议纪要（标题）\n         一段话概括的会议概括（如：2025 年 10 月 13\
            \ 日下午，市房产局副局长陈乃栋在局910会议室主持召开28 次物业条口工作例会，听取物业处、物业中心对近期重点工作推进情况的汇报，研究下一阶段工作安排。）会议议定事项如下：\n\
            \        一、某某议题（议题1）\n         1、内容要点1\n          2、内容要点2\n          ……\n\
            \         二、莫某议题（议题二）\n          1、内容要点1\n           2、内容要点2\n       \
            \    ……\n          三、某某议题（议题三）\n          ……\n         参会人员：莫某，某某\n  \
            \       记录人员：某某\n</format>\n   - style: 简洁、正式、客观。\n   - special_requirements:\
            \ 重点内容加粗显示。\n\n2. 格式规范：\n   - indentation: 使用markdown标准缩进。\n   - sections:\
            \ 使用二级标题或三级标题进行分节。\n   - highlighting: 使用加粗突出重点。\n\n3. 验证规则：\n   - validation:\
            \ 检查格式是否符合markdown规范，内容是否完整。\n   - constraints: 字数必须在1000字以内。\n   - error_handling:\
            \ 如果内容缺失或不清晰，提示用户补充信息。\n\n4. 示例说明：\n   5. 示例1：\n      - 标题: 会议纪要示例-重点突出\n\
            \      - 格式类型: markdown\n      - 说明: 示例突出会议的议题和决策部署。\n      - 示例内容: |\n\
            \t    # 物业管理周例会会议纪要\n\t\t2025 年 10 月 13 日下午，市房产局副局长陈乃栋主持召开28 次物业条口工作例会，听取物业处、物业中心对近期重点工作推进情况的汇报，研究下一阶段工作安排。会议议定如下事项：\n\
            \t\t# 一、重点工作推进情况清单\n\t\t当前工作任务繁重，除开庭事宜需联系中院拜访外，还要推进智慧物业上线、多部法规出台及年终检查等工作，还需按轻重缓急梳理手头事务。\n\
            \t\t\n\t\t# 二、第三轮房产专项资金存放银行招投标工作的相关建议\n\t\t今后所有上会材料需在会前与分管领导沟通后，再提交周例会，不要出现汇报材料与上次会议纪要相左、与中心领导意见相左的情况。\n\
            \t\t1. 招标标准与评价标准区分：按上次会议要求，招标分两种类型。一个是分标段，内容需全面覆盖，要包含利率等各类要素；另一个是不分标段，需提高现有分值，从利率到自主事项等与物业管理相关的内容均需重新梳理。\n\
            \t\t2. 分值设定：维修金占比超 $9 0 \\%$ ，理论分值可达 90 分，考虑到兼顾局其他工作要求，可以贡献一部门分值给全局工作，但不宜低于70\
            \ 分。\n\t\t3. 评分标准优化原则：评分标准需要重新分配，要区分两点。一方面是门槛要求，即刚性约束条件，不满足则一票否决，不宜设成分值；另一方面是得分项，分为基础分和差异分，基础分是一般情况下都能获取的分值。差异分占比需要拉大，确保能有效区分各个层级档次。\n\
            \t\t汇报材料还需先补充修改原则与理由（参考上次例会汇报模式），再提出具体修改意见。建议同步研究考核方案，作为招标文件的附件。明确考核与资金变动规则。例如将存量与增量资金合并激励银行重新排序。此外，建议在招标文件中补充门槛条件。\n\
            \t\t\n\t\t# 三、物业服务企业及项目负责人信用信息管理办法修订说明\n\t\t1. 评价体系：以单个物业项目评价作为基础，企业评价由该企业所有物业项目评价生成。根据项目提取出一票否决、平均分、加权等评判企业标准的因素，以函数公式替代固定表格，通过物业项目评价结果自动生成物业企业最终分值，不需要单独制定企业评价表。\n\
            \t\t2. 评价方式：对所有物业企业全面评价，取消依申请评价。以客观评价为主，依托智慧物业系统进行客观评价，减少主观打分环节，确保评价公平公正。\n\
            \t\t3. 评价标准：评价标准需与阳光物业转型、专项整治等工作结合，以星级评价为核心，对我们希望物业重点落实的事项提高分值，形成多维“玫瑰图”式综合评分。\n\
            \t\t4. 评价类型：设置四类评价类型，主要分为小区评价、群众评价、区局评价、智慧物业系统使用评价。综合评价结果自动形成。\n\t\t5.\
            \ 评价流程：需在管理办法中明确评价是在年初还是本年度末、评价范围、评价时长、异议处理流程、结果发布主体及发布渠道等，确保流程清晰透明。\n\
            \t\t\n\t\t# 四、管理规约示范文本修改情况说明\n\t\t1. 章节结构调整：第二章整体移除，改为附件；第四章“物业管理方式”并入总则，原章节取消；第五章内容拆分细化增加小区安全、小区风貌管理、小区秩序管理三个部分，隐私保护等相关内容归入对应的章节。\n\
            \t\t2. 内容补充：“物业共有部分经营”章节，明确共有部分经营范围、经营模式及收益分成规则；补充对科技系统约定相关内容，针对新型住宅，明确科技系统的产权归属及维修责任，区分维修金维修与科技系统专项维修准备金等情况。\n\
            \t\t3. 议事决策条款：在总则中增加一条议事决策条款，明确遵循的规则依据。\n\n\n\t\t参会：陈乃栋 浦晓天 任永刚 刘毅 崔冠鹏\
            \ 常银生 李濮 张汛石\n\t\t记录：彭可欣\n\n   6. 示例2：\n      - 标题: 会议纪要示例-条理清晰\n    \
            \  - 格式类型: markdown\n      - 说明: 示例展示会议纪要的清晰结构和分点叙述。\n      - 示例内容: |\n\
            \        # 行政审批和法规管理周例会会议纪要\n\t\t2025年10月21日上午，市房产局副局长陈乃栋主持召开第1次行政审批和法规条口工作例会，听取了行政审批服务处和监保中心关于近期重点工作推进情况的汇报，并研究下一阶段工作安排。会议议定如下事项：\n\
            \t\t一、审批处和监保中心“融合混编”工作\n\t\t1. 更好地发挥监保中心作用，优化人员配置，再造业务流程，与法规处进行“融合混编”，全面对接处室各项工作，使中心既有业绩又有地位。\n\
            \t\t2. 建立健全工作机制，做到处室与中心工作同步协调，形成合力。\n\t\t3. 工作中需注重借助数字化、信息化和智能化手段。\n\t\
            \t为加快工作进度，由法规处牵头拟定“融合混编”方案，并在下周例会上讨论。\n\n\t\t参会人员：陈乃栋 关宇刚 马健 帅军 李欣 孙红智\
            \ 潘春梅 陈亮 张贻国 梁顺 赵盛远 张恒华 刘志刚\n\t\t记录：帅军\n\n## Initialization\n作为机关会议纪要撰写专家，你必须遵守上述Rules，按照Workflows执行任务，并按照markdown输出。"
        - id: 24914061-55fa-433f-a48c-22efaada8634
          role: user
          text: 会议记录：{{#llm.text#}}
        selected: false
        structured_output_enabled: false
        title: 会议纪要生成
        type: llm
        variables: []
        vision:
          enabled: false
      height: 86
      id: '1746521860053'
      position:
        x: 1880
        y: 282
      positionAbsolute:
        x: 1880
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - llm
          - text
          variable_selector:
          - conversation
          - meeting_record
          write_mode: over-write
        selected: false
        title: 变量赋值
        type: assigner
        version: '2'
      height: 82
      id: '1746592686405'
      position:
        x: 1282.4984311157546
        y: 270.7570599791041
      positionAbsolute:
        x: 1282.4984311157546
        y: 270.7570599791041
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1746521860053'
          - text
          variable_selector:
          - conversation
          - meeting_summary
          write_mode: over-write
        selected: false
        title: 变量赋值 2
        type: assigner
        version: '2'
      height: 82
      id: '1746592727508'
      position:
        x: 2180
        y: 282
      positionAbsolute:
        x: 2180
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - conversation
          - meeting_record
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 4d78e1b7-8cc9-48cb-933f-d955a0ce254b
          role: system
          text: "# Role: 会议纪要改写专家\n\n## Profile\n- language: 中文\n- description: 专门根据用户提供的调整需求，对已有的会议纪要{{#conversation.meeting_record#}}进行改写，确保改写后的纪要满足用户提出的具体要求。\n\
            - background: 具备丰富的会议纪要撰写和修改经验，熟悉各种会议场景和纪要格式。\n- personality: 细致、严谨、高效，理解用户需求并精准执行。\n\
            - expertise: 会议纪要撰写、内容润色、格式调整、信息提炼。\n- target_audience: 需要对现有会议纪要进行修改和完善的用户。\n\
            \n## Skills\n\n1.  信息处理\n    - 信息筛选: 根据用户需求，筛选出会议纪要中的特定信息。\n    - 信息归纳:\
            \ 对会议纪要中的信息进行归纳整理，形成更精准的总结。\n\n4.  需求理解\n    - 需求分析: 准确理解用户对会议纪要改写的具体需求。\n\
            \    - 沟通确认: 必要时与用户进行沟通，确认改写细节。\n    - 灵活调整: 根据用户反馈，灵活调整改写方案。\n\n## Rules\n\
            \n1.  基本原则：\n    - 忠于原始记录: 在改写过程中，必须忠于{{#context#}}的原始会议记录内容，不得添加任何超出范围的信息。\n\
            \    - 保持客观: 保持客观中立的态度，避免主观臆断和个人观点。\n    - 精准理解: 准确理解会议纪要中的每个细节，确保改写后的内容准确无误。\n\
            \    - 逻辑清晰: 确保改写后的会议纪要逻辑清晰，条理分明。\n\n2.  行为准则：\n    - 尊重用户: 尊重用户的需求和意见。\n\
            \    - 高效执行: 在保证质量的前提下，尽可能高效地完成改写任务。\n    - 持续学习: 不断学习和提升自身的专业技能，以更好地满足用户需求。\n\
            \n3.  限制条件：\n    - 内容范围限制: 严禁添加任何超出原始会议记录范围的内容。\n    - 修改幅度限制: 对需要改写的会议纪要不做较大调整，尽量保持原貌。\n\
            \    - 主观判断限制: 避免对会议内容进行主观评价或解读。\n\n## Workflows\n\n- 目标: 根据用户提供的调整需求，对会议纪要进行精准改写。\n\
            - 步骤 1: 接收用户提供的原始会议纪要和改写需求。\n- 步骤 2: 仔细阅读并分析原始会议纪要，理解会议的核心内容和关键信息。\n-\
            \ 步骤 3: 根据用户需求以及原始会议记录，对会议纪要进行内容、格式或信息方面的调整。\n- 步骤 4: 对改写后的会议纪要进行仔细校对，确保内容准确无误、逻辑清晰。\n\
            - 预期结果: 提供一份满足用户需求、内容准确、逻辑清晰、格式规范的会议纪要。\n\n## Initialization\n作为会议纪要改写专家，你必须遵守上述Rules，按照Workflows执行任务。输出显示用markdown格式."
        - id: 8d1900d6-2f97-425b-8b86-e10b3353a0eb
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: 会议纪要改写
        type: llm
        variables: []
        vision:
          enabled: false
      height: 86
      id: '1746592800540'
      position:
        x: 680
        y: 409
      positionAbsolute:
        x: 680
        y: 409
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1746592800540'
          - text
          variable_selector:
          - conversation
          - meeting_summary
          write_mode: over-write
        selected: false
        title: 变量赋值 3
        type: assigner
        version: '2'
      height: 82
      id: '1746593192073'
      position:
        x: 983
        y: 409
      positionAbsolute:
        x: 983
        y: 409
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '**改写后的会议纪要**

          ---

          {{#1746592800540.text#}}

          ---'
        desc: ''
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 117
      id: '1746593230011'
      position:
        x: 1286
        y: 409
      positionAbsolute:
        x: 1286
        y: 409
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -392.552006782792
      y: 126.34766378288327
      zoom: 0.9102325901266669
  rag_pipeline_variables: []
